 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html,
 body {
     width: 100%;
     height: 100%;
     font-family: 'Inter', sans-serif;
 }
:root{
    --colorhover:#FFCC00;
    --background:#004080;
    --special:#111827;
}
 .hero {
     position: relative;
     width: 100%;
     height:calc(100vh - 10vh);
     margin-top: 10vh;
     overflow: hidden;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .front {
     width:50%;
     height: 50vh;
     background: #f6f6f65e;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;  
    border-radius:10px;
 }
.front h1{
font-size: 3rem;
}
.btn{
    width: 150px;
    height: 50px;
    border-radius:10px;
    border: none;
    margin-top: 20px;
    font-weight: bold;
    background: var(--background);
    cursor: pointer;
    transition: all ease-in-out 0.5s;
}
.btn a{
    text-decoration: none;
    color:#fff;
    font-size:1rem;
}
.btn:hover{
    background:#ff0202;
    box-shadow: 5px 5px 5px inset #000;
} 
 .vid {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     object-fit: cover;
     z-index: -1;
 }
 /* Numbers */
 .numbers{
    width: 100%;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    padding: 50px 10px;
    align-items: center;
    box-shadow:5px 5px  10px #bcbbbb;
    border-radius: 10px;
 }
 .nbox{
    width: 20%;
    height: 100%;
    text-align: center;

 }
 .nbox h2{
    color:var(--background);
 }
 .nbox p{
    font-size: 1rem;
 }
 /* Choose */
 .choose{
    width: 100%;
    height: 40vh;
    padding:50px 0px;
    text-align: center;
 }
 .ct{
    width: 60%;
    height: 100%;
    margin: auto;
    display:flex;
    flex-direction: column;
    gap:20px;
 }
 .ct h1{
    color: var(--background);
 }
 /* Offer */
 .offer{
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap:20px;
    background: #F0F4FF;
}
.offer h1{
    color: var(--background);
}
.offer ol{
    list-style: none;
    line-height:2;
}
/* Say */
.say{
    width: 100%;
    height: 50vh; 
    padding: 50px;
    text-align: center;
    line-height: 2;
}
.say h1,h3{
    color: var(--background);
}
.say p{
    font-style: italic; 
}
/* Upgrade */
.upgrade{
    width: 100%;
    height: 40vh;
    text-align: center;
    color:#fff;
    background: var(--background);
    padding:50px;
    line-height: 2;
}
.upgrade h1{
    font-size: 1.5rem;
}
.upgrade button{
    width: 150px;
    height: 30px;
    border-radius:20px;
    border: none;
    font-weight: bold;
    background: #111827;
    color:#fff;
    text-decoration: underline;
    cursor: pointer;
}
/* Footer */
.link{
    width: 100%;
    height: 20vh;
    text-align: center;
    padding:50px;
    background: #003366;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
}
.link a{
    color: var(--colorhover);
}
/* Mobile Responsive */
@media (max-width:768px) {
    .hero{
        width: 100vw;
        height:calc(50vh - 8vh);
        margin-top: 8vh; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .front{
        width: 80%;
        height:;
        transform: none;
        text-align: center;
    }
    .numbers{
        width: 100vw;
        height: 40vh;
        flex-wrap: wrap;
        padding: 0px;
        box-shadow: none;
    }
    .nbox{
        width: 100%;
        height: 5vh;
    }
    .nbox h2{
        font-size: 2rem;
    }
    .choose{
        width: 100vw;
        height: 50vh;
        padding:50px;
        
    }
    .choose p{
        text-align:justify;
    }
    .ct{
        width: 100%;
    }
    .offer{
        width: 100vw;
        height: 50vh;
        padding: 20px;
    }
    .say{
        width: 100vw;
        height: 100vh;
        line-height: 1;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 10px;
    }
    .upgrade{
        width: 100vw; 
        height: 30vh;
        padding: 10px;
    }
    .upgrade h1{
        font-size:1.5rem;
    }
    .link{
        width: 100vw;
        height: 10vh;
        padding: 10px;
    }
}